/* common styling */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
figcaption {
  text-decoration: underline;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  margin: 0;
  padding: 20px 43px;
  color: white;
}
/* header section styling */
.header-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0px 240px;
}

.header-content {
  width: 50%;
}

.header-content img {
  height: 800px;
  margin-top: 50px;
}

.header-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  margin: 0;
}

.header-description {
  margin: 32px 0px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

/* featured section styling */

.featured-flowers {
  text-align: center;
  margin-top: 150px;
}

.section-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.featured-flowers-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-flowers-image-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding-top: 110px;
  padding-right: 80px;
  padding-left: 80px;
}

.featured-flowers-image-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding-top: 110px;
  padding-right: 80px;
  padding-left: 80px;
}

.featured-flowers-image-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding-top: 110px;
  padding-right: 80px;
  padding-left: 80px;
}
