/* common styling */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  margin: 0;
  padding: 20px 43px;
  color: white;
}
/* header section styling */
.header-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0px 240px;
}

.header-content {
  width: 50%;
}

.header-content img {
  height: 800px;
  margin-top: 50px;
}

.header-title {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  margin: 0;
}

.header-description {
  margin: 32px 0px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
